*{
	padding:0;
	margin:0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.header{
	height: 173px;
	background-color:#eeeeef;
}
.logo{
	padding-top:30px;
	text-align: center;
	height: 95px;
}
.nav{
	width:670px;
	height: 45px;
	background-color: #fff;
	margin:0 auto;
	border-radius:23px;  
}
.nav li{
	font-size: 14px;
	font-family: "微软雅黑";
	float:left;
	height: 45px;
	padding:0 30px;
	line-height: 45px;
	background: url(../image/line.png) no-repeat right center;
}
.nav li a{
	display:block;
	height:42px;
	border-bottom: 3px solid #1e50ae;
}
.nav li:last-child{
	background: none;
}
.banner{
	width: 100%;
	height:405px;
	background: url() no-repeat center center; 
}
.serve{
	width:1200px;
	height:135px;
	margin:0 auto;
	text-align: center;
}
.picture{
	height:675px;
	width: 1200px;
	margin-left: 200px;
}
.one{
	height:420px;
	width:1200px;
	float:left;
}
.one div{
	height:420px;
	width:300px;
	float:left;
}
.two{
	height:255px;
	width:1200px;
	float:left;
}
.two div{
    height:255px;
	width:300px;
	float:left;

}
.dain{
	height:27.5px;
	width: 15px;
	float:left;
	background: url(image/dian.png) no-repeat center;
}
.new{
	width:1200px;
	height:135px;
	margin:0 auto;
	text-align: center;
}
.big{
	height: 775px;
	width: 570px;
	float:left;
	padding-left: 185px;
}
.big oo{
	height: 430px;
	width: 515px;
	float:left;
	padding-left: 185px;
	padding-bottom: 85px;
}
.zi{
	padding-left:5px;
	padding-top: 85px;
	width:570px;
}
.biao{
	height: 380px;
	width: 515px;
	float:left;
	padding-left:px;
}
.another{
	height: 775px;
	width: 600px;
	float:right;
	padding-right: 30px;
}
.liaojie{
	width:140px;
	height: 45px;
	background-color: #fff;
	margin:0 auto;
	border-radius:23px;
}
.zi2{
	 padding-left:5px;
	padding-top: 85px;
	width:570px;
	height: 85px;
}
.ww{
	width:1560px;
	height:103px;
	background: #eeeeef;
	position: absolute;
	left:0px;
	top:3000px;
	text-align: center;
}
.pp{
	width:1560px;
	height:103px;
	float:left;
	margin-top:30px;
	padding-left: 100px;
}
.h{
	width: 300px;
	height:103px;
	float:left;
	padding:10px 30px;
	background: url(bianlan.png) no-repeat right center;
}
.h1{
	float:left;
}
.rr{
	height:259px;
	width:1560px;
	float:left;
	background: black;
	border-bottom:2px solid gray;
	position: absolute;
	left:0px;
	top:3105px;
}
.yy{
	height:259px;
	width:615px;
	float:left;
	padding-left: 133px;
	padding-top: 60px;
}
.duo{
	height:259px;
	width:79px;
	float:left;
	margin-left: 50px;
}
.duo ul li{
	color:white;
}
.tu{
	padding-top:4px;
}
.hh{
	position: absolute;
	left:1000px;
	top:0px;
}
.header{
	width:1560px;
	height:123px;
	background: black;
	border-bottom:2px solid gray;
	position: absolute;
	left:0px;
	top:3365px;
}
.nav1{
	width:1100px;
	height:45px;
	background:black;
	margin:0 auto;
	padding-top: 40px;
}
.nav1 li{
	float:left;
	height:45px;
	padding: 0 30px;
	line-height:45px;
	background: url(bianlan.png) no-repeat right center;
}
.nav1 li a {
	display: block;
	height:42px;
	padding-bottom: 0px;
	text-decoration: none;
	color: white;
}
.nav1 li:last-child{
	background: none;
}
.di{
	position: absolute;
	left:620px;
	top:0px;
}
